@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  

  @media (max-width: 768px) {
    .sidebar {
        transform: translateX(0);
    }

    .main {
        margin-left: 0;
    }
}



  